# Hardcoded slug for THIS app's seller. In production this is set as a Vercel env var.
NUXT_PUBLIC_STORE_SLUG=shop-b-placeholder-slug

# DAM backend base URL
NUXT_PUBLIC_DAM_BASE_URL=https://localhost:5256
